node_modules
.pnpm-store
.next
.turbo
dist
build
.env
.env.local
.env.*.local
deploy/Caddyfile
coverage
*.log

# local services
docker-data
.localconfig
limiShop.zip
limiShop_extracted/
apps/backend/public/admin/
apps/storefront/test-results/

# OS/editor
.DS_Store
Thumbs.db
.idea
.vscode
