STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
BANK_TRANSFER_ACCOUNT_NAME=Limi
BANK_TRANSFER_BANK_NAME=
BANK_TRANSFER_IBAN=
BANK_TRANSFER_SWIFT=
BANK_TRANSFER_REFERENCE_PREFIX=
